# Django & Python
*.log
*.pot
*.pyc
*.pyo
*.pyd
__pycache__/
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
celerybeat-schedule
celery_broker.sqlite3
celery_results.sqlite3

# Environment and Virtual Envs
.env
.venv/
env/
venv/
ENV/
*.bak
*.swp

# OS Junk
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDEs & Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Build & Frontend (if any)
node_modules/
dist/
build/
.cache/
.npm/

# Licensing & Keys
*.key
*.pem
paystack_log.json
license_key.txt
